.ceo-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.ceo-message h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.ceo-message p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}
.ceo-message img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
.ceo-message a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #03f896;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.ceo-message a:hover {
  color: #02d785;
}
.ceo-message .message-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.ceo-message .message-item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
}
.ceo-message .message-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}
.ceo-message .message-item p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}
.ceo-message .message-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
.ceo-message .message-item a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #03f896;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.ceo-message .message-item a:hover {
  background-color: #02d785;
}
/* Responsive styles */
@media (max-width: 768px) {
  .ceo-message .message-item {
    flex: 1 1 calc(100% - 20px);
    width: calc(100% - 20px);
  }
}
/* Additional styles for smaller screens */
@media (max-width: 480px) {
  .ceo-message h2 {
    font-size: 20px;
  }
  .ceo-message p {
    font-size: 14px;
  }
  .ceo-message img {
    width: 100%;
    height: auto;
  }
  @media (max-width: 768px) {
    .project .project-item {
      width: calc(100% - 20px);
    }
  }
    @media (max-width: 480px) {
        .project .project-item {
        width: calc(100% - 20px);
        }
    }
}